# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# AWS credentials
*.pem
*.key

# Others
*.bak
*.tmp

# Ignore model files
*.h5
*.pt
*.onnx
*.joblib
*.pkl
